// colors
$nav: #333
$navActive: #afafaf
$bodyColor: #e9e9e9
$black: black
$white: white
$inputColor: #6e6e6e
$accent1: #60969b
$accent1hover: #4c787c
$accent2: #dabb3c
$accent2hover: #c1a533

@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto)

$headerFont: 'Oswald'
$bodyFont: 'Roboto'
