<div class="widget-wrapper">
  <div class="login-grid">

    <div class="register widget">
      <h1>Register.</h1>
      <form class="register-form widget-form">
        <input class="widget-input" type="email" name="email" placeholder="Email">
        <input class="widget-input" type="password" name="password" placeholder="Password">
        <input class="widget-input" type="password" name="confirm password" placeholder="Confirm Password">
        <button class="primary-button button-2 register" type="button" name="register">Get Started!</button>
      </form>
    </div>

    <div class="login widget">
      <h1>Login.</h1>
      <form class="login-form widget-form" action="index.html" method="post">
        <input class="widget-input" type="email" name="email" placeholder="Email">
        <input class="widget-input" type="password" name="password" placeholder="Password">
        <button class="primary-button login" type="button" name="login">Login</button>
      </form>
    </div>

  </div>
</div>
